@model IEnumerable<Categories>


@foreach (var category in Model)
        {
            <li>
                <a asp-controller="Pizzas" asp-action="ListCategory"
                   asp-route-categoryName="@category.Name">
                    <i class="bi bi-circle"></i><span>@category.Name</span>
                </a>
            </li>
        }
                
                
         
