@{
    ViewData["Title"] = "Pay";
    Layout = "_Layout1";
}
<h2>Payments</h2>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Paymaya</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Gcash</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Cash On Delivery</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class=" justify-content-center">
          <img src="~/images/mayaqr.png" />

        </div><a data-bs-toggle="modal"
                 data-bs-target="#basicModal4" class="btn btn-info mt-2 ">Proceed</a>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class=" justify-content-center">
            <img src="~/images/ggqr.png" />

        </div><a data-bs-toggle="modal"
                 data-bs-target="#basicModal4" class="btn btn-info mt-2 ">Proceed</a>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="  justify-content-center">
            <h3>Proceed to Cash on Delivery</h3>

        </div> <a data-bs-toggle="modal"
                  data-bs-target="#basicModal4" class="btn btn-info mt-2 ">Proceed</a>
  </div>
</div>
<div class="modal fade" id="basicModal4" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Have you already payed?</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Note: Your order won't be delivered if you don't fulfill your payment...
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            Close
                        </button>
                <form asp-controller="Orders" asp-action="CheckoutComplete">
                            <button type="submit" class="btn btn-success">
                                Pay
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
