@{
	Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ranzcent's Pizza</title>

  <!-- Web-Fonts -->
  <link href="//fonts.googleapis.com/css?family=Spartan:400,500,600,700,900&display=swap" rel="stylesheet">
  <!-- //Web-Fonts -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="~/assets/assets/css/style-starter.css">
</head>

<body>
<!--header-->
<div class="w3l-top-header">
  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <a class="navbar-brand" href="index.html">
          <span class="fa fa-pie-chart"></span> Ranzcent's Pizza
        </a>
        <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item @@index-active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item @@about-active">
              <a class="nav-link effect-3" href="#about">About</a>
            </li>
            <li class="nav-item @@services-active">
              <a class="nav-link effect-3" href="#food">Menu</a>
            </li>
            <li class="nav-item @@contact-active">
              <a class="nav-link effect-3" href="#contact">Contact</a>
            </li>
            <li class="px-4 fill-none">
              <a asp-controller="Account" asp-action="Login" class="btn btn-style btn-secondary">Online Order</a>
              </li>
          </ul>
          <div class="popup">
            <a href="#domain" class="domain" data-toggle="modal" data-target="#DomainModal">
              <div class="hamburger1">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
<!--/header-->

<!-- Domain Modal -->
<div class="modal right fade" id="DomainModal" tabindex="-1" role="dialog" aria-labelledby="DomainModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>

      <div class="modal-body">
        <div class="modal__content">
          <h2 class="logo"> <span class="fa fa-pie-chart"></span> Ranzcent's Pizza</h2>
          <!-- if logo is image enable this   
          <h2 class="logo">
            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </h2> -->
          <p class="mt-md-3 mt-2">A PIZZA SLICE A DAY KEEPS SADNESS AWAY.</p>
          <img src="assets/images/p1.jpg" alt="image" class="img-fluid radius-image mt-4">
          <div class="widget-social-icons mt-sm-5 mt-4">
            <h5 class="widget-title">Contact Us</h5>
            <ul class="icon-rounded address">
              <li>
                <p>Krus Na Ligas Ocampo st. 99V, Quezon City, 1101</p>
              </li>
              <li class="mt-3">
                <p><span class="fa fa-phone"></span> <a href="tel:+404-11-22-89">+639475815359</a></p>
              </li>
              <li class="mt-2">
                <p><span class="fa fa-envelope"></span> <a
                    href="mailto:pizza@order.com">ranzcents@sample.com</a></p>
              </li>
              <li class="top_li1 mt-2">
                <p><span class="fa fa-clock-o"></span> <a href="#url">Mon - Fri : 09:00 am to 10:00 pm
                  </a></p>
              </li>
            </ul>
          </div>
          <div class="widget-social-icons mt-sm-5 mt-4">
            <h5 class="widget-title">Follow Us</h5>
            <ul class="icon-rounded">
              <li><a class="social-link twitter" href="#url" target="_blank"><span class="fa fa-twitter"></span></a></li>
              <li><a class="social-link linkedin" href="#url" target="_blank"><span class="fa fa-linkedin"></span></a></li>
              <li><a class="social-link facebook" href="#url" target="_blank"><span class="fa fa-facebook"></span></a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //Domain modal -->
<section class="w3l-banner" id="banner">
    <div class="new-block py-5">
        <div class="container">
            <div class="row middle-section">
                <div class="col-lg-7 section-width align-self">
                    <h5>Eat pizza everyday</h5>
                    <h2>Share your love for pizza</h2>
                        <a data-toggle="modal" data-target="#exampleModal" class="btn btn-secondary btn-outline-style mt-md-5 mt-4">
                        <span class="fa fa-shopping-cart mr-2"></span> Order Online</a>
                </div>

                <div class="col-lg-5 history-info mt-lg-0 mt-5 pt-lg-0 pt-md-4">
                        <img src="~/assets/assets/images/pizza-full.png" class="img-fluid" alt="image">
                    <div class="cost">
                        <h5>Only</h5>
                        <h3>₱99</h3>
                    </div>
                </div>
            </div>
        </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @await Html.PartialAsync("_AccountLogPartial")
                            <a data-toggle="modal" data-target="#exampleModal2">Register</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="Log in" >Login</button>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
</section>
    
<!-- iphone home block -->
<section class="w3l-about py-5" id="about">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>We make the Best and Affordable Pizza in your town</h3>
                <h5 class="mt-lg-3 mt-2">A PIZZA SLICE A DAY KEEPS SADNESS AWAY.
                </h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2"> You can't make eveybody happy. You're not Pizza</p>
                <a href="#contact" class="btn-style btn-primary btn mt-lg-5 mt-4">Know more about us</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                            <a href="#url" class="icon"><img src="~/assets/assets/images/pizza.png" alt="" /></a>
                        <h4><a href="#url">Right food baked with natural ingredient</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                            <a href="#url" class="icon"><img src="~/assets/assets/images/burger.png" alt="" /></a>
                        <h4><a href="#url">The use of natural best quality products</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/assets/assets/images/drink.png" alt="" /></a>
                        <h4><a href="#url"> World’s best Chef and Nutritionist!</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/assets/assets/images/fries.png" alt="" /></a>
                        <h4><a href="#url">Fastest delivery on your door step</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="w3l-food" id="food">
    <div class="foods1 py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="title-content text-center">
                <h6 class="sub-title">Special Combo</h6>
                <h3 class="title-big">Our Delicious Pizza</h3>
            </div>
            <div class="foods1-content mt-lg-5 mt-4 mb-sm-0 mb-4">
                <div class="owl-carousel owl-theme text-center">
                    <div class="item">
                        <div class="d-grid food-info">
                            <div class="column">
                                <h4 class="name-pos"><a href="#url">Hawaii</a></h4>
                                <p>Tomato sauce, mozzarella, & oregano</p>
                                <h5>₱75</h5>
                                <a href="#url" class="btn-style btn-primary btn mt-4">Order Online</a>
                                    <a href="#url"><img src="~/assets/assets/images/p1.jpg" alt="" class="img-fluid radius-image mt-4" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="d-grid food-info">
                            <div class="column">
                                <h4 class="name-pos"><a href="#url">Ham and Cheese</a></h4>
                                <p>Tomato sauce, Ham, and Cheese</p>
                                <h5>₱80</h5>
                                <a href="#url" class="btn-style btn-primary btn mt-4">Order Online</a>
                                <a href="#url"><img src="~/assets/assets/images/p2.jpg" alt="" class="img-fluid radius-image mt-4"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="d-grid food-info">
                            <div class="column">
                                <h4 class="name-pos"><a href="#url">Pepperoni</a></h4>
                                <p> Tomato sauce,  Bell Pepper, and Pepperoni</p>
                                <h5>₱80</h5>
                                <a href="#url" class="btn-style btn-primary btn mt-4">Order Online</a>
                                    <a href="#url"><img src="~/assets/assets/images/p3.jpg" alt="" class="img-fluid radius-image mt-4" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="d-grid food-info">
                            <div class="column">
                                <h4 class="name-pos"><a href="#url">Bacon</a></h4>
                                <p>Tomato sauce, Bacon, and Bell Pepper</p>
                                <h5>₱89</h5>
                                <a href="#url" class="btn-style btn-primary btn mt-4">Order Online</a>
                                <a href="#url"><img src="~/assets/assets/images/p4.jpg" alt="" class="img-fluid radius-image mt-4"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="d-grid food-info">
                            <div class="column">
                                <h4 class="name-pos"><a href="#url">Vegetarian</a></h4>
                                <p>Tomato sauce,  Bell Pepper,  and Mushroom</p>
                                <h5>₱99</h5>
                                <a href="#url" class="btn-style btn-primary btn mt-4">Order Online</a>
                                <a href="#url"><img src="~/assets/assets/images/p5.jpg" alt="" class="img-fluid radius-image mt-4"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/testimonials-->
	<section class="w3l-testimonials" id="testimonials">
		<div class="testimonials py-5">
			<div class="container py-lg-5 py-md-4">
				<div class="title-content text-center">
					<h6 class="sub-title">Testimonials</h6>
					<h3 class="title-big">What our Clients say</h3>
				</div>
				<div class="row mt-lg-5 mt-4">
					<div class="col-md-12 mx-auto">
						<div class="owl-two owl-carousel owl-theme">
							<div class="item">
								<div class="slider-info">
									<div class="message">
                                        <span class="fa fa-quote-left"></span>
										<h5>Lorem ipsum dolor sit amet consect etur adipisicing elit. Ea sit id
                                        	 officia quod quasi necess itatibus Harum necess itatibus
                                            error dam tenetur dolor elit sed init amet.</h5>
										<div class="name mt-4">
											<h4>Phillip Hunt</h4>
											<p>CEO, Zomato</p>
										</div>
									</div>
									<div class="img-circle">
                                        <img src="~/assets/assets/images/client1.jpg" class="img-fluid testimonial-img radius-image" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info">
									<div class="message">
                                        <span class="fa fa-quote-left"></span>
										<h5>Lorem ipsum dolor sit amet consect etur adipisicing elit. Ea sit id
                                        	 officia quod quasi necess itatibus Harum necess itatibus
                                            error dam tenetur dolor elit sed init amet.</h5>
										<div class="name mt-4">
											<h4>Sara Grant</h4>
											<p>Example Company</p>
										</div>
									</div>
									<div class="img-circle">
                                        <img src="~/assets/assets/images/client2.jpg" class="img-fluid testimonial-img radius-image" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info">
									<div class="message">
                                        <span class="fa fa-quote-left"></span>
										<h5>Lorem ipsum dolor sit amet consect etur adipisicing elit. Ea sit id
                                        	 officia quod quasi necess itatibus Harum necess itatibus
                                            error dam tenetur dolor elit sed init amet.</h5>
										<div class="name mt-4">
											<h4>Luke Jacobs</h4>
											<p>Example Company</p>
										</div>
									</div>
									<div class="img-circle">
                                        <img src="~/assets/assets/images/client3.jpg" class="img-fluid testimonial-img radius-image" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="message">
                                        <span class="fa fa-quote-left"></span>
										<h5>Lorem ipsum dolor sit amet consect etur adipisicing elit. Ea sit id
                                        	 officia quod quasi necess itatibus Harum necess itatibus
                                            error dam tenetur dolor elit sed init amet.</h5>
										<div class="name mt-4">
											<h4>Claire Olson</h4>
											<p>Example Company</p>
										</div>
									</div>
									<div class="img-circle">
                                        <img src="~/assets/assets/images/client4.jpg" class="img-fluid testimonial-img radius-image" alt="client">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//testimonials-->
    <!--//contact-->
    
    <section class="w3l-contact-11 py-5" id="contact">
        <div class="contacts-main py-lg-5 py-md-4">
          <div class="contant11-top-bg">
            <div class="container">
                <div class="title-content text-center">
                    <h6 class="sub-title">Contact</h6>
                    <h3 class="title-big">Get in touch with us</h3>
                </div>
              <div class="d-grid contact section-gap mt-lg-5 mt-4">
                <div class="contact-info-left d-grid text-center">
                  <div class="contact-info">
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                    <h4>Get Directions</h4>
                    <p>Krus Na Ligas Ocampo st. 99V, Quezon City, 1101</p>
                  </div>
                  <div class="contact-info">
                    <span class="fa fa-phone" aria-hidden="true"></span>
                    <h4>Contact Us</h4>
                    <p><a href="tel:+1-2345-678-11">+639475815359</a></p>
                    <p><a href="mailto:pizza@order.com" class="email"> ranzcents@sample.com

                    </a></p>
                  </div>
                  <div class="contact-info">
                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                    <h4>Opening Hours</h4>
                    <p>Monday - Friday</p>
                     <p> 09:00 am to 10:00 pm</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-41-mian section-gap mt-5">
            <div class="container">
              <div class="d-grid align-form-map">
                <div class="form-inner-cont">
                  <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                    <div class="form-input">
                      <label for="w3lName">Name</label>
                      <input type="text" name="w3lName" id="w3lName" placeholder="" />
                    </div>
                    <div class="form-input">
                      <label for="w3lSender">Email(Required)*</label>
                      <input type="email" name="w3lSender" id="w3lSender" placeholder="" required="" />
                    </div>
                    <div class="form-input">
                      <label for="w3lMessage">Message(Required)*</label>
                      <textarea placeholder="" name="w3lMessage" id="w3lMessage" required=""></textarea>
                    </div>
    
                    <button type="submit" class="btn btn-style btn-primary">Submit</button>
    
                  </form>
                </div>
                <div class="map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61767.861840644044!2d121.04621796972349!3d14.628026612672334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b7766352597f%3A0x3ed6237b995a256d!2sKrus%20na%20Ligas%2C%20Diliman%2C%20Quezon%20City%2C%20Metro%20Manila!5e0!3m2!1sen!2sph!4v1670479056487!5m2!1sen!2sp"
                    frameborder="0" allowfullscreen=""></iframe>
                </div>
                
              </div>
            </div>
          </div>
      </section>
  <!-- footers 20 -->
  <section class="w3l-footers-20">
  	<div class="footers20">
  		<div class="container">
  			<div class="footers20-content">
  				<div class="d-grid grid-col-4 grids-content">
  					<div class="column">
  						<h4>Address</h4>
  						<p class="contact-para3">Krus Na Ligas Ocampo st. 99V, Quezon City, 1101</p>
  						<a href="mailto:hello@w3layouts.com">
  							<p class="contact-mail mt-2">ranzcents@sample.com</p>
  						</a>
  					</div>
  					<div class="column">
  						<h4>Book a Table</h4>
  						<p>Good times call for pizza..</p>
  						<a href="tel:+1-2345-678-11">
  							<p class="contact-phone mt-2"> +639475815359</p>
  						</a>
  					</div>
  					<div class="column">
  						<h4>Opening hours</h4>
  						<p>Monday - Friday</p>
  						<p class="mt-2">09:00 am to 10:00 pm</p>
  					</div>
  					<div class="column">
  						<h4>Twitter feed</h4>
  						<a href="blog-single.html">
  							<p><span class="fa fa-twitter mr-2"></span>Eating hot spicy pizza is best thing to
  								consider</p>
  						</a>
  						<p class="small mt-2"><span class="fa fa-clock-o"></span> March 25, 2020</p>
  					</div>
  				</div>
  				<div class="d-grid grid-col-3 grids-content1 bottom-border">
  					<div class="columns copyright-grid">
  						<p class="copy-footer-29">© 2022 Ranzcent's Pizza. All rights reserved | Designed by <a
  								href="https://github.com/Jepwyy">Jeffrey Jonelas</a></p>
  					</div>
  					<div class="columns text-right social-grid">
  						<ul class="social">
  							<li><a href="https://www.facebook.com/araanxx"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
  							<li><a href="https://www.instagram.com/pizza"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
  							<li><a href="https://www.twitter.com/pizza"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
  						</ul>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
  	&#10548;
  </button>
  <script>
  	// When the user scrolls down 20px from the top of the document, show the button
  	window.onscroll = function () {
  		scrollFunction()
  	};

  	function scrollFunction() {
  		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
  			document.getElementById("movetop").style.display = "block";
  		} else {
  			document.getElementById("movetop").style.display = "none";
  		}
  	}

  	// When the user clicks on the button, scroll to the top of the document
  	function topFunction() {
  		document.body.scrollTop = 0;
  		document.documentElement.scrollTop = 0;
  	}
  </script>
  <!-- /move top -->
  </section>

  <!-- jQuery and Bootstrap JS -->
    <script src="~/assets/assets/js/jquery-3.3.1.min.js"></script>

  <!-- libhtbox -->
  <script src="~/assets/assets/js/lightbox-plus-jquery.min.js"></script>


  <script src="~/assets/assets/js/jquery.magnific-popup.min.js"></script>

  <script src="~/assets/assets/js/counter.js"></script>
  <script>
  	$(document).ready(function () {
  		$('.popup-with-zoom-anim').magnificPopup({
  			type: 'inline',

  			fixedContentPos: false,
  			fixedBgPos: true,

  			overflowY: 'auto',

  			closeBtnInside: true,
  			preloader: false,

  			midClick: true,
  			removalDelay: 300,
  			mainClass: 'my-mfp-zoom-in'
  		});

  		$('.popup-with-move-anim').magnificPopup({
  			type: 'inline',

  			fixedContentPos: false,
  			fixedBgPos: true,

  			overflowY: 'auto',

  			closeBtnInside: true,
  			preloader: false,

  			midClick: true,
  			removalDelay: 300,
  			mainClass: 'my-mfp-slide-bottom'
  		});
  	});
  </script>

  <!-- testimonials owlcarousel -->
    <script src="~/assets/assets/js/owl.carousel.js"></script>
  <script>
  	$(document).ready(function () {
  		$('.owl-two').owlCarousel({
  			loop: true,
  			margin: 30,
  			nav: false,
  			responsiveClass: true,
  			autoplay: false,
  			autoplayTimeout: 5000,
  			autoplaySpeed: 1000,
  			autoplayHoverPause: false,
  			responsive: {
  				0: {
  					items: 1,
  					nav: false
  				},
  				480: {
  					items: 1,
  					nav: false
  				},
  				667: {
  					items: 1,
  					nav: false
  				},
  				1000: {
  					items: 1,
  					nav: false
  				}
  			}
  		})
  	})
  </script>
  <!-- //script for Testimonials-->

  <!-- script for food-->
  <script>
  	$(document).ready(function () {
  		$('.owl-carousel').owlCarousel({
  			loop: true,
  			margin: 0,
  			responsiveClass: true,
  			responsive: {
  				0: {
  					items: 1,
  					nav: true
  				},
  				480: {
  					items: 2,
  					nav: true,
  					margin: 20
  				},
  				769: {
  					items: 3,
  					nav: true,
  					margin: 20
  				},
  				1280: {
  					items: 4,
  					nav: true,
  					loop: true,
  					margin: 25
  				}
  			}
  		})
  	})
  </script>
  <!-- //script for food-->

  <!-- disable body scroll which navbar is in active -->
  <script>
  	$(function () {
  		$('.navbar-toggler').click(function () {
  			$('body').toggleClass('noscroll');
  		})
  	});
  </script>
  <!-- disable body scroll which navbar is in active -->
  <!--/MENU-JS-->
  <script>
  	$(window).on("scroll", function () {
  		var scroll = $(window).scrollTop();

  		if (scroll >= 80) {
  			$("#site-header").addClass("nav-fixed");
  		} else {
  			$("#site-header").removeClass("nav-fixed");
  		}
  	});

  	//Main navigation Active Class Add Remove
  	$(".navbar-toggler").on("click", function () {
  		$("header").toggleClass("active");
  	});
  	$(document).on("ready", function () {
  		if ($(window).width() > 991) {
  			$("header").removeClass("active");
  		}
  		$(window).on("resize", function () {
  			if ($(window).width() > 991) {
  				$("header").removeClass("active");
  			}
  		});
  	});
  </script>
  <!--//MENU-JS-->
    <script src="~/assets/assets/js/bootstrap.min.js"></script>

  </body>

  </html>
